.channel{
    display:grid;

}

.upper{
     display:grid;
}

.lower{
    display:flex;
}


.channelheading{
    display: flex;
}
.channelnamebox{
    display: flex;
    margin-top: 1%;
}

.userprofiletext{
   display:grid;
   margin-left: 8%;
   margin-top: 2%;
   height:40%;
   width: 70%;
}

.bannerbox{
    height:60%;
    width:fit-content;
    margin-bottom: 0%;
 overflow: hidden;

}

.profileimagebox{
    height:45%;
    width:30%;
    border-radius: 100%;
     overflow: hidden;
}
.profilenamebox{
   padding-top: 0%;
   height:20%;
   text-align: left;
}
.userworkplace{
    margin-top:1%;
    font-size: 1vw;
    padding-left: 4%;
    font-family:cursive;
}

.mainheading{
  font-size:1.67vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}