.authorposting{
              display:flex;
              
              height:86%;
              width:24%;
               overflow:hidden;
              
}

.postimage{
          height:100%;

        overflow:hidden;
}


.posted{
    display:grid;
    grid-template-rows: 1fr 0.15fr 0.1fr 0.1fr;

}

.postnichename{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
        font-size:1.1vw;
       color:rgb(97, 94, 94);

}

.postnichenamebox{
    height:90%;
    margin-top:0%;
    padding-top:0%;
    overflow:hidden;
}
.postheading{
    color:rgb(0,0,0);
    font-size:1.1vw;
    font-weight: 600;
    font-style: bold;
}

.authorbox{
    display:flex;
    margin-top:1%;
    

}


.authorheading{
    font-weight: 300;
   
    font-size:.90vw;
    margin-right:2%;
    margin-left: 2%;
}
 
.vertical {
    height: 80%;
    border: none;
    border-right: 1.2px solid rgb(48, 40, 40);
    margin: 0;
}

.authorheadingline{
         padding-top: 1%;   
}

.vertical1{
    height: 100%;
        border: none;
        border-right: 1.2px solid rgb(155, 141, 141);
        margin: 0;
}
.postline{
    margin-left:4%;
}