/* Grid Container */
.channel {
    display: grid;
}

/* Upper Section */
.upper {
    display: grid;
    grid-template-rows: 35% 20% 1%;
    /* Adjusted row heights */
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #f0f0f0;
    /* Light background color */
    border-radius: 1vw;
    /* Rounded corners */
  
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

/* Lower Section */
.lower {
    display: grid;
}

/* Channel Heading */
.channelheading {
    display: flex;
 
    align-items: center;
    /* Vertically center items */
    margin-bottom: 2%;
    /* Added spacing */
}

/* Channel Name Box */
.channelnamebox {
    display: flex;
    align-items: center;
    padding-top: 2%;
    height:90%;
    width:70% ;
    /* Vertically center items */
    overflow: hidden;
}

/* User Profile Text */
.userprofiletext {
    display: grid;
    grid-template-rows: 20% 20%;
    margin-left: 4%;
    width: 70%;
}

/* Banner Box */
.bannerbox {
    background-size: cover;
    /* Cover the entire box */
    background-position: center;
    border-radius: 2vw;
    /* Rounded corners */
    overflow: hidden;
}

/* Image Banner */
#imagebanner {
    width: 100%;
    height: 30vw;
    overflow: hidden;
}

/* Profile Image Box */
.profileimagebox {
    width: 20%;
    /* Adjusted width */
    height: 8vw;
    /* Adjusted height */
    margin-right: 2%;
    /* Added spacing */
    border-radius: 50%;
    /* Circular shape */
    overflow: hidden;
}

/* Profile Name Box */
.profilenamebox {
   
    text-align: left;
}

/* User Workplace */
.userworkplace {
    font-size: 1vw;
    /* Adjusted font size */
    padding-left: 4%;
    font-family: cursive;
}

/* Main Heading */
.mainheading {
    font-size: 1.67vw;
    /* Adjusted font size */
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2%;
    /* Added spacing */
}

/* User Niche */
.userniche {
margin-left: 2%;
    /* Adjusted spacing */
    margin-top: 2%;
    font-weight: 700;
}
