.paperClass {
    
    width: 70%;
    
    height: 100%;
    
    padding: 2px;
   
    margin: 1px;
    
}
/* lastest.css */

.post-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* Adjust the margin based on your design */
}

.postcard {
    /* Add any additional styling for your PostCard component */
    width: 48%;
    /* Adjust the width to leave space for margins and paddings */
    box-sizing: border-box;
    margin-bottom: 10px;
    /* Adjust the margin based on your design */
}