.paperClass {
    
    width: 70%;
    
    height: 100%;
    
    padding: 2px;
   
    margin: 1px;
    
}
/* lastest.css */

.post-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* Adjust the margin based on your design */
}

.postcard {
  
    width: 48%;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}

.maincontent{
    margin-top:2%;
     margin-left:5%;
}