.author-post-container {
  height: 60%;

}

.post-item{
      padding-top: 0%;
}
.post-paper {
    padding: 2vw;
    width: 80%;}
.post-footer{
          display: flex;
}
.post-link {
    text-decoration: none;
    color: inherit;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.post-heading {
    display: grid;
    align-items: center;
    justify-content: space-between;
  
}

.post-title {
    margin: 0;
    font-size: 2.5vw;
  
    font-weight: bold;

}

.post-image {
    width:90%;
   
    height:60%;
    
    object-fit: cover;
    margin-left: 2vw;
}

.post-description {
  
    font-size: 1vw;

}

.author-info {
    display: flex;
    align-items: center;
}

.author-image {
    width: 10vw;
   
    height: 10vw;
  
    object-fit: cover;
    border-radius: 50%;
}

.author-name {
    margin-left: 2vw;
   
    font-size: 1.5vw;
    
}

.delete-icon {
    margin-left: auto;
    cursor: pointer;
}
