.footer{
    width:auto;
    height:auto;
    
    color:white;
    background-color:#333;
    margin-top: 40%;


}
.size{
    padding-left: 17%;
    padding-top: 1.2%;
    padding-bottom: 5%;
    padding-right:20%;
    height:auto;
    width:auto;
   
}
.line{
      font-size: 1.2vw;
      font-family:'Courier New', Courier, monospace;
}
hr{
    color: #fff;
    border:0.4%;

}
.a{
    font-size:1.1vw;
    color: #fff;
    text-transform: capitalize;
    padding-top:2%;
    font-family: 'Courier New', Courier, monospace;
    }

.a1{
    font-size: 1.1vw;
        color: #fff;
        text-transform: capitalize;
        padding-top:5%;
        font-family: 'Courier New', Courier, monospace;
        
       
}
.action{
       display:flex;
       height:auto;
       width:auto;
       padding-bottom: 4%;
}

.first{
    display:grid;
    font-size: 1.0vw;
    padding-top:2%;
    height:auto;
    width:auto;

}
.second{
display: grid;
padding-left:12%;
font-size: 1.0vw;
padding-top:2%;
}

.third{
display: grid;
padding-left:12%;
font-size:1.0vw;
padding-top:2%;
}
