#form{
    border:2px solid red;
   margin-left:5%;
   width:85%;
   height:100%;
    padding:2%;
    border-radius:8%;
    background-color: blanchedalmond;
}
#formlogin{
    border: 2px solid red;
    margin-left: 22%;
    width: 85%;
    height: 100%;
    padding: 2%;
    margin-top: 20%;
    border-radius: 8%;
    background-color: blanchedalmond;
}
.form-control{
   width:100%;
    font-weight: 400;
  margin-top:2%;
padding-top: 2%;
    padding-bottom: 2%;
}
.btn-primary{
    margin-top: 8%;
    background-color: rgb(5, 211, 32);
    width:100%;
    padding-top:2%;
    padding-bottom: 2%;
}
#profilebox{
     width:100%;
}