

.paperClass {

    width: 70%;

    height: 100%;

    padding: 2px;

    margin: 1px;

}
.universe1{
    height: auto;
    width: 70%;
    display: grid;
    margin-right: 1.3%;
    margin-top: 2%;
    padding-left: 1%;
    margin-left: 20%;
}
/* Reset default button styles */
#button1{
   text-decoration: none;
}
#button1:focus {
    outline: none !important;
}